<div class="content">
    <mat-card>
        <mat-card-header>Worker Registration</mat-card-header>
        <mat-card-content>
            <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregistration()">
                <mat-form-field class="example-full-width">
                  <mat-label>First Name</mat-label> 
                  <input matInput formControlName="fname">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>middle Name</mat-label> 
                    <input matInput formControlName="mname">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label> 
                    <input matInput formControlName="lname">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>Sex</mat-label> 
                    <mat-select formControlName="sex">
                        <mat-option value="">Select Sex</mat-option>
                        <mat-option *ngFor="let item of sexlist" [value]="item">
                            {{ item }}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Phone Number</mat-label> 
                    <input matInput formControlName="phone_number">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Physical Address</mat-label> 
                    <input matInput formControlName="physical_address">
                </mat-form-field>
                <div >
                    <button class="example-button-row" mat-raised-button color="primary">Submit</button>
                    <a mat-dialog-close mat-raised-button color="accent">Cancel</a>
                </div>
            </form>
        </mat-card-content>
      </mat-card>
    
</div>