@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Iconss');
*{
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

mat-icon{
    color: #8997ac;
    font-family: 'Material Icons';
    vertical-align: middle;
}
.top{
    margin: 15px;
    padding: 8px;
    margin-left: 160px;
    font-size: 45px;
}
.user{
    text-align: center;
    font-weight: 800;
    margin-bottom: 50px;
}
/* rounded-image{
    border-radius: 50%;
} */
img{
    margin-top: -30px;
    margin-left: -50px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.name{
    color: white;
}
.email{
    margin-top: -16px;
    color: #8997ac;
}
.menu-head{
    color: #466be0;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 40px;
    margin-top: -30px;
}
.menu-item{
    margin: 0 10px 0 10px;
    .menu-button{
        display: block;
        width: 100%;
        position: relative;
        padding-left: 10px;
        margin-bottom: 10px;
        display: flex;
    }
    .menu-button span{
        margin-left: 15px;
        color: white;
    }
    .menu-button:hover{
        background-color: #2c3344;
    }
    .menu-button:focus{
        background-color: #2c3344;
    }
}
.menu-button{
    display: block;
    width: 100%;
    position: relative;
    padding-left: 10px;
    margin-bottom: 10px;
    display: flex;
}
