<div class="content">
    <mat-card>
        <mat-card-header>Farm Registration</mat-card-header>
        <mat-card-content>
            <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregistration()">
                <mat-form-field class="example-full-width">
                  <mat-label>Farm Name</mat-label> 
                  <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Farm Location</mat-label> 
                    <input matInput formControlName="location">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Pantent</mat-label> 
                    <input matInput formControlName="land_title" placeholder="TZA Patent No. TZ123456">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Size</mat-label> 
                    <input matInput formControlName="size">
                </mat-form-field>
                <div >
                    <button class="example-button-row" mat-raised-button color="primary">Submit</button>
                    <a mat-dialog-close mat-raised-button color="accent">Cancel</a>
                </div>
            </form>
        </mat-card-content>
      </mat-card>
    
</div>