.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
  }

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

.example-button-row {
    display: table-cell;
    max-width: 600px;
    margin-top: 10px;
    margin-right: 10px;
    color: warn;
    
  }
mat-card{
    margin: 300px auto 180px;
    margin-top: 100px;
    margin-bottom: 290px;
  }

  .content{
    display: flex;
    background-color: #f2f2f2;
    /* margin-bottom: 90%; */
}

.logo {
    width: 70px;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1 {
  margin-left: 88px;
}