<div class="content">
  <!-- <h2>Farm Production Management System-Fpms</h2> -->
  <mat-card>
    <mat-card-header>
      <h1>SignIn to Fpms</h1>
    </mat-card-header>
    <mat-card-content>
      <div class="form-header">
        <img [src]="imageUrl" alt="Logo" class="logo">
      </div>
      <form class="example-form" [formGroup]="loginform" (ngSubmit)="proceedlogin()">
        <mat-form-field class="example-full-width">
          <mat-label>
            <mat-icon>person</mat-icon>
            Email
          </mat-label>
          <input matInput type="email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>
            <mat-icon>lock</mat-icon>
            Password
          </mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
        <div>
          <button class="example-button-row" mat-raised-button color="primary">LogIn</button>
          <button routerLink="/forgot-password" class="example-button-row" mat-raised-button color="warn">Forgot Password?</button>
          <a routerLink="/register" mat-raised-button color="accent">New User?</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
