mat-sidenav{
    background: #0f172a;
    width: 230px;
    height: 100%;
}
mat-sidenav-content{
    height: 100vh;
    .main{
        margin-left: 30px; 
    }    
}
mat-toolbar{
    .mat-icon{
        margin-left: 15px;
        color: gray;
    }
    justify-content: space-between;
    .box{
        margin-top: 15px;
    }
}
a,
a:visited,
  a:hover{
    color: blue;
    text-decoration: none;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.custom-label {
    font-size: 15px; /* Adjust the font size as desired */
  }

 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 0px;
    text-align: center;
  }
  