/* Default styles for larger screens (e.g., PCs) */
table {
    width: 90%;
  }
  
  .demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }
  
  mat-paginator {
    width: 90%;
  }
  
  /* Styles for mobile phones */
  @media screen and (max-width: 600px) {
    /* Adjust table width for better visibility on mobile */
    table {
      width: 100%;
    }
  
    /* Adjust paginator width for better visibility on mobile */
    mat-paginator {
      width: 100%;
    }
  
    /* Add spacing between buttons on mobile */
    .demo-button + .demo-button {
      margin-left: 0;
      margin-top: 8px;
    }
  
    /* Center the toolbar items on mobile */
    .toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    /* Adjust the font size for better visibility on mobile */
    h3 {
      font-size: 18px;
    }
  
    /* Center the footer text on mobile */
    .footer {
      text-align: center;
    }
  }
  